# frozen_string_literal: true

MailerMount.configure do |config|
  # Your custom authentication logic here
  config.authentication_method do
    unless Current.user
      redirect_to new_session_path, alert: "You must be logged in to access this section"
    end
  end

  # Custom current_user method
  config.current_user_method do
    Current.user
  end
end
