<!DOCTYPE html>
<html>
<head>
  <title>MailerMount</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "mailer_mount/application", media: "all" %>
</head>
<body>
  <%= yield %>
</body>
</html>
